networks:
  pg:
    ipam:
      config:
        - subnet: "{{ subnet }}"

volumes:
{%- for node_id in all_node_ids %}
  pg_{{ node_id }}_data:
    driver: local
{%- endfor %}

services:
{%- for node_id in all_node_ids %}
  pg-{{ node_id }}:
    image: bitnami/postgresql-repmgr:16.3.0
    networks:
      pg:
        ipv4_address: "{{ backend_ips[node_id] }}"
    extra_hosts:
      - "pgpool:{{ delegate_ip }}"
    ports:
      - 5432
    volumes:
      - pg_{{ node_id }}_data:/bitnami/postgresql
    environment:
      - DISABLE_WELCOME_MESSAGE=yes
      - REPMGR_PARTNER_NODES=${REPMGR_PARTNER_NODES}
      - REPMGR_NODE_NAME=pg-{{ node_id }}
      - REPMGR_NODE_NETWORK_NAME=pg-{{ node_id }}
      - REPMGR_PRIMARY_HOST=${REPMGR_PRIMARY_HOST}
      - REPMGR_PASSWORD=${REPMGR_PASSWORD}
      - POSTGRESQL_POSTGRES_PASSWORD=${POSTGRESQL_POSTGRES_PASSWORD}
      - POSTGRESQL_USERNAME=${POSTGRESQL_USERNAME}
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE}
  pgpool-{{ node_id }}:
    build:
      context: ./docker/pgpool
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
    networks:
      pg:
        ipv4_address: "{{ pool_ips[node_id] }}"
    extra_hosts:
      - "pgpool:{{ delegate_ip }}"
    ports:
      - 5432
      - 9000
      - 9694
    volumes:
      - type: bind
        source: ./out/pgpool-{{ node_id }}/pgpool_node_id
        target: /opt/bitnami/pgpool/conf/pgpool_node_id
        read_only: true
      - type: bind
        source: ./out/pgpool-{{ node_id }}/pgpool.conf
        target: /opt/bitnami/pgpool/conf/pgpool.conf.override
        read_only: true
    environment:
      - DISABLE_WELCOME_MESSAGE=yes
      - PGPOOL_BACKEND_NODES=${PGPOOL_BACKEND_NODES}
      - PGPOOL_SR_CHECK_USER=${PGPOOL_SR_CHECK_USER}
      - PGPOOL_SR_CHECK_PASSWORD=${PGPOOL_SR_CHECK_PASSWORD}
      - PGPOOL_POSTGRES_USERNAME=${PGPOOL_POSTGRES_USERNAME}
      - PGPOOL_POSTGRES_PASSWORD=${PGPOOL_POSTGRES_PASSWORD}
      - PGPOOL_ADMIN_USERNAME=${PGPOOL_ADMIN_USERNAME}
      - PGPOOL_ADMIN_PASSWORD=${PGPOOL_ADMIN_PASSWORD}
      - PGPOOL_USER_CONF_FILE=/opt/bitnami/pgpool/conf/pgpool.conf.override
      - PGPOOL_PASSWD_FILE=/opt/bitnami/pgpool/conf/pool_passwd
      - PGPOOL_AUTHENTICATION_METHOD=scram-sha-256
      - PGPOOL_AES_KEY=random string
{%- endfor %}
  utility:
    image: bitnami/pgpool:4.5.2
    networks:
      pg:
    extra_hosts:
      - "pgpool:{{ delegate_ip }}"
    environment:
      - DISABLE_WELCOME_MESSAGE=yes
