sr_check_user = '{{ custom_username }}'
sr_check_password = '{{ custom_password }}'
sr_check_database = '{{ custom_database }}'
health_check_user = '{{ custom_username }}'
health_check_password = '{{ custom_password }}'
{% for node_id in all_node_ids %}
backend_hostname{{ loop.index0 }} = 'pg-{{ node_id }}'
backend_application_name{{ loop.index0 }} = 'pg-{{ node_id }}'
backend_port{{ loop.index0 }} = 5432
backend_weight{{ loop.index0 }} = 1
backend_data_directory{{ loop.index0 }} = '/opt/bitnami/pgpool/data'
backend_flag{{ loop.index0 }} = 'ALLOW_TO_FAILOVER'
{% endfor %}
use_watchdog = on

delegate_ip = '{{ delegate_ip }}'

wd_lifecheck_method = 'heartbeat'
wd_interval = 10

hostname{{ primary_node_id }} = 'pgpool-{{ primary_node_id }}'
wd_port{{ primary_node_id }} = 9000
pgpool_port{{ primary_node_id }} = 9000
heartbeat_hostname{{ primary_node_id }} = 'pgpool-{{ primary_node_id }}'
heartbeat_port{{ primary_node_id }} = 9694
heartbeat_device{{ primary_node_id }} = ''
{% for other_node_id in other_node_ids %}
hostname{{ other_node_id }} = 'pgpool-{{ other_node_id }}'
wd_port{{ other_node_id }} = 9000
pgpool_port{{ other_node_id }} = 9000
heartbeat_hostname{{ other_node_id }} = 'pgpool-{{ other_node_id }}'
heartbeat_port{{ other_node_id }} = 9694
heartbeat_device{{ other_node_id }} = ''
{% endfor %}
